// @media (prefers-color-scheme: light) {
    $primary: #722faa;
    $primary50: #722faa40;
    $secondary: #0c538f;
    $tertiary: #722faa;
    $quaternary: #d491fb;
    $quintenary: #ffc2f4;
    $background: #ffffff;
    $text: #535353;
    $white: #ffffff;
    $black: #000000;
    $gold: #ffb838;
    $diamond: #5bb4ff;
    $gradient1: linear-gradient(45deg, #c53ac5 ,#722faa,#54abf7);
// }
@media (prefers-color-scheme: dark ) {
    $primary: #722faa;
    $primary50: #722faa40;
    $secondary: #0c538f;
    $tertiary: #722faa;
    $quaternary: #d491fb;
    $quintenary: #ffc2f4;
    $background: #ffffff;
    $text: #535353;
    $white: #ffffff;
    $black: #000000;
    $gold: #ffb838;
    $diamond: #5bb4ff;
    $gradient1: linear-gradient(45deg, #c53ac5 ,#722faa,#54abf7);
}
$success: #65f265;
$error: #ff0f0f; 
$info: #5bb4ff;

