.input {
    border: 1px solid #bbbbbb;
    padding: 8px 10px;
    border-radius: 5px;
    resize: none;
}
.container {
    max-width: 1400px;
    padding: 0 5%;
    margin: auto;
}

.--bg {
    background-color: $primary;
    padding: 30px 0 50px 0;
    margin: 20px 0;
    * {
        color: #fff !important;
    }
}
.--no-scroll {
    overflow: hidden;
}

.button {
    background-color: $primary;
    color: $white;
    padding: 10px 15px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 4px;
}