.barbante {
    a {
        text-decoration: underline;
        color: $primary;
    }
    ul {
        li {
            margin-bottom: 10px;
        }
    }
    img {
        max-width: 500px;
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
    }
    @media (max-width: 768px) {
        flex-direction: column;
    }
    main .wrapper {
        display: flex;
        .inner {
            width: 60%;
            padding-right: 40px;
        }
        .right {
            width: 40%;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            .right,
            .inner {
                width: 100%;
                padding: 0;
            }
        }
    }
    legend {
        color: $primary;
    }
    ul {
        margin-bottom: 25px
    }
}