@import '../components/list-cards';

.home {
    .paragraph strong {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }
    .button {
        margin: 70px auto;
        display: block;
        height: 60px;
        max-width: 300px;
        width: 100%;
        font-size: 24px;
    }
}