.tabela main {
    text-align: center;
    a:not([download]) {
        font-weight: 700;
        text-decoration: underline;
        color: $primary;
    }
    img {
        width: 100%;
        height: auto;
        max-width: 500px;
    }
    .wrapper {
        display: flex;
        margin-top: 80px;
    }
    ul {
        @extend .paragraph;
    }
    @media (max-width:768px) {
        .wrapper,
        .file-download {
            flex-direction: column;
        }
        img {
            margin: auto;
        }
    }
}