.container-grid {
    padding: 5%;
    .grid:nth-child(even) {
        flex-direction: row-reverse;
        .bigcircle {
            background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-45 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23c53ac5%22 %2F%3E %3Cstop offset=%2250%25%22 stop-color=%22%23722faa%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%2354abf7%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M849%2C649Q798%2C798%2C649%2C879.5Q500%2C961%2C329%2C901.5Q158%2C842%2C107%2C671Q56%2C500%2C143.5%2C365.5Q231%2C231%2C365.5%2C156.5Q500%2C82%2C670%2C121Q840%2C160%2C870%2C330Q900%2C500%2C849%2C649Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M849%2C649Q798%2C798%2C649%2C879.5Q500%2C961%2C329%2C901.5Q158%2C842%2C107%2C671Q56%2C500%2C143.5%2C365.5Q231%2C231%2C365.5%2C156.5Q500%2C82%2C670%2C121Q840%2C160%2C870%2C330Q900%2C500%2C849%2C649Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
        }
    }
    .grid:nth-child(odd) {
        .bigcircle {
            background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-45 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23c53ac5%22 %2F%3E %3Cstop offset=%2250%25%22 stop-color=%22%23722faa%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%2354abf7%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M900%2C676Q852%2C852%2C676%2C902Q500%2C952%2C371%2C855Q242%2C758%2C163.5%2C629Q85%2C500%2C118.5%2C326Q152%2C152%2C326%2C119Q500%2C86%2C657%2C136Q814%2C186%2C881%2C343Q948%2C500%2C900%2C676Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M900%2C676Q852%2C852%2C676%2C902Q500%2C952%2C371%2C855Q242%2C758%2C163.5%2C629Q85%2C500%2C118.5%2C326Q152%2C152%2C326%2C119Q500%2C86%2C657%2C136Q814%2C186%2C881%2C343Q948%2C500%2C900%2C676Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
        }
    }
}
.grid {
    display: flex;
    margin-bottom: 45px;
    @media (max-width: 996px) {
        flex-direction: column !important;
    }
    .title {
        text-align: center;
    }
    .sideimg,
    .sidetext {
        width: 50%;
        @media (max-width: 996px) {
            width: 100%;
        }
    }
    .bigcircle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 500px;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 38px;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        @keyframes float {
            0% {
                transform: translatey(0px);
            }
            50% {
                transform: translatey(-20px);
            }
            100% {
                transform: translatey(0px);
            }
        }     
        @media (max-width: 996px) {
            width: 270px;
            height: 270px;
            font-size: 24px;
        }      
    }
    .description {
        text-align: center;
        line-height: 1.5;
    }
    > .sidetext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    > .sidetext > .button {
        display: flex ;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}