.section-tabela {
    margin-bottom: 100px;
    #tabela {
        display: flex;
        justify-content: space-around;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}